<br>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  Ha accedido a una sesión de administrador
</div>
<br>
<div class="row">
  <div class="column">
      <div class="card">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/LPyYTHrFdyU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="card-img-top"></iframe>
          <div class="card-body">
              <h5 class="card-title">La historia de México</h5>
              <p>Usuario: Juan Pérez</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#!" class="btn btn-primary">Aceptar</a>
              <!--Agregar función después para que se quiten una vez aceptados o eliminados-->
              <button type="button" class="bi bi-trash"></button>
          </div>
      </div>
  </div>
  <div class="column">
      <div class="card">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/-cVHT1kHYRU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="card-img-top"></iframe>
          <div class="card-body">
              <h5 class="card-title">Toda la historia de México</h5>
              <p>Usuario: Beatriz Solano</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#!" class="btn btn-primary">Aceptar</a>
              <button type="button" class="btn btn-light"><span class="bi bi-trash"></span></button>
          </div>
      </div>
  </div>
  <div class="column">
      <div class="card">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/XSP9gFHGFCI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="card-img-top"></iframe>
          <div class="card-body">
              <h5 class="card-title">La revolución mexicana</h5>
              <p>Usuario: Javier Ramirez</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#!" class="btn btn-primary">Aceptar</a>
              <button type="button" class="btn btn-light"><span class="bi bi-trash"></span></button>
          </div>
      </div>
  </div>
</div>
