<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!--<app-index></app-index>-->
<!--<app-inicio-profesor></app-inicio-profesor>-->
<!--<app-acerca-de-profesor><app-acerca-de-profesor>-->
<!--<app-publicaciones-profesor></app-publicaciones-profesor>-->
<!--<app-contactanos></app-contactanos>-->
<app-inicio-estudiantes></app-inicio-estudiantes>
<!--<app-acerca-de-estudiante></app-acerca-de-estudiante>-->
<!--<app-publicaciones-estudiante></app-publicaciones-estudiante>-->
<app-footer></app-footer>
