
<app-navbar *ngIf="false"></app-navbar>
<app-navbar-estudiantes *ngIf="true"></app-navbar-estudiantes>
<div [@routeAnimations]="getRouteAnimationData()">
  <router-outlet >
  </router-outlet>
</div>
<!--<app-index (onStateChanged)="newItem=($event)"></app-index>-->
<!--<app-inicio-profesor></app-inicio-profesor>-->
<!--<app-acerca-de-profesor></app-acerca-de-profesor>-->
<!--<app-publicaciones-profesor></app-publicaciones-profesor>-->
<!--<app-contactanos></app-contactanos>-->
<!--<app-inicio-estudiantes></app-inicio-estudiantes>-->
<!--<app-acerca-de-estudiante></app-acerca-de-estudiante>-->
<!--<app-publicaciones-estudiante></app-publicaciones-estudiante>-->

<!--PANTALLA DE ADMINISTRADOR-->
<!--<app-administrador></app-administrador>-->

<app-footer></app-footer>
