<div class="Login">
  <h1>Registrate</h1>
  <p>Agrega tus datos y elige la opción que corresponda al tipo de ususario que eres (maestro o estudiante)</p>
  <form>
      <!-- Email input -->
      <div class="form-outline mb-4">
          <input type="email" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Correo electrónico</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
          <input type="password" id="form2Example2" class="form-control" />
          <label class="form-label" for="form2Example2">Contraseña</label>
      </div>
          <!-- Checkbox -->
          <div *ngFor="let option of options">
            <i>{{option}}</i>
            <input type="radio"
            name="op"
            value={{option}}
            (change)="handlerControl($event)"
            />
          </div>
      <br>
      <!-- Submit button -->
      <button type="button" class="btn btn-primary btn-block mb-4" (click)="changeP()"><i class="fa fa-plus"></i>Registrate</button>
      <div class="forgotPassword">
          <a href="#!">¿Olvidaste tu contraseña?</a>
      </div>

  </form>
</div>
<br>
<table class="table">
  <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Correo electrónico</th>
          <th scope="col">Contraseña</th>
          <th scope="col">Profesor</th>
          <th scope="col">Alumno</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <th scope="row">1</th>
          <td>danber@gmail.com</td>
          <td>******</td>
          <td>X</td>
          <td></td>
      </tr>
      <tr>
          <th scope="row">2</th>
          <td>jacobAug@gmail.com</td>
          <td>********</td>
          <td></td>
          <td>X</td>
      </tr>
      <tr>
          <th scope="row">3</th>
          <td>larJA@gmail.com</td>
          <td>***********</td>
          <td>X</td>
          <td></td>
      </tr>
      <tr>
          <th scope="row">4</th>
          <td>jcomb@gmail.com</td>
          <td>*****</td>
          <td></td>
          <td>X</td>
      </tr>
      <tr>
          <th scope="row">5</th>
          <td>joseman@gmail.com</td>
          <td>***************</td>
          <td>X</td>
          <td></td>
      </tr>
      <tr>
          <th scope="row">6</th>
          <td>franesc@gmail.com</td>
          <td>*******</td>
          <td></td>
          <td>X</td>
      </tr>
      <tr>
          <th scope="row">7</th>
          <td>betysolano@gmail.com</td>
          <td>***********</td>
          <td>X</td>
          <td></td>
      </tr>
      <tr>
          <th scope="row">8</th>
          <td>krma@gmail.com</td>
          <td>******</td>
          <td>X</td>
          <td></td>
      </tr>
      <tr>
          <th scope="row">9</th>
          <td>sonia1984@gmail.com</td>
          <td>****</td>
          <td></td>
          <td>X</td>
      </tr>
      <tr>
          <th scope="row">10</th>
          <td>dpma@gmail.com</td>
          <td>*********</td>
          <td></td>
          <td>X</td>
      </tr>
  </tbody>
</table>
