@import 'head-foot';
$central: center;
$derecha: right;
$colorEscuela: #F48225;

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1{
    text-align: $central;
}

.p{
    align-content: $central;
    text-align:$central;
}

.btn{
    background-color: $colorEscuela;
}

.forgotPassword{
    text-align: $central;
}

.left{
    text-align: left;
}

.botonPlus{
    align-content: $derecha;
    text-align: $derecha;
}

.contact_form{
    border-radius: 10px;
    background-color: grey;
    height: auto;
    margin: 80px auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    width: 460px;
}

.maestro{
    border-radius: 8px;
    float:$derecha;
    height:400px;
    width:400px;
}

.nino{
    border-radius: 8px;
    float:$derecha;
    height:400px;
    width:400px;
}

.alert{
    background-color: grey; 
    color: white;
    margin-bottom: 15px;
    padding: 20px;
}

.closebtn {
    color: white;
    cursor: pointer;
    font-weight: bold;
    float: $derecha;
    font-size: 22px;
    line-height: 20px;
    margin-left: 15px;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
}

.column{
    float: left;
    padding: 0 10px;
    width: 30%;
}

.row{
    margin:0 -15px;
}

.row:after{
    content:"";
    clear: both;
    display: table;
}

.delete{
    height:50px;
    width:50px;
}

.iframe{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

