.contact_form{
  border-radius: 10px;
  background-color: grey;
  height: auto;
  margin: 80px auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  text-align: center;
  width: 460px;
}
