<br>
<h1>Te mostramos tus actuales publicaciones</h1>
<button class="botonPlus" onclick="">+</button>
<br>
<div class="card">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QdChTKHPWK8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
        <h5 class="card-title">50 preguntas de repaso de geografía</h5>
        <p class="card-text">Cultura general necesaria para secundaria.</p>
        <!--AQUI PODEMOS AGREGAR BOTONES COMO PARA EDITAR LA INFORMACION O NO -->
    </div>
    <div class="card" aria-hidden="true">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Iw0prdZ3x64" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
            <h5 class="card-title">La geografía. concepto, características y especies</h5>
            <p class="card-text">Datos importantes que tener en cuenta.</p>
        </div>
    </div>
    <div class="card" aria-hidden="true">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/M3Z5EKMAN3w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
            <h5 class="card-title">La geografía</h5>
            <p class="card-text">Resúmen de geografía.</p>
        </div>
    </div>
</div>
