<h1>Materias</h1>
<p class="text-muted">Escoge la materia que quieres repasar o estudiar.</p>
<br>
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="/assets/img2.jpg" alt="Random first slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="/assets/img3.jpg" alt="Random second slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="/assets/img4.jpg" alt="Random third slide">
    </div>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="/assets/img5.jpg" alt="Random forth slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="/assets/img6.jpg" alt="Random fifth slide">
    </div>
  </ng-template>
  </ng-template>
</ngb-carousel>

