$colorEscuela: #F48225;

.w-100{
  background-color: $colorEscuela;
}

.col-md-8{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.needs-validation{
}
