<header>
  <p class="ribbon">
    <strong class="ribbon-content">Beta test</strong>
</p>
  <img class="img" src="assets/logo.png" alt="logo"/>
  <mat-button-toggle class="hamburger" value="left">
    <mat-icon (click)="toggle()">format_align_left</mat-icon>
  </mat-button-toggle>
  <nav *ngIf="show" @ngIfAnimation @easeInOut class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#" routerLink="./inicio-profesor" >Menú</a>
                </li>
                  <li class="breadcrumb-item">
                      <a href="#" routerLink="./acerca-profesor">Acerca de</a>
                  </li>
                  <li class="breadcrumb-item">
                      <a href="#"routerLink="./publicaciones-profesor">Publicaciones</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="#"routerLink="./noticias">Noticias</a>
                </li>
                  <li class="breadcrumb-item active" aria-current="page">
                      <a href="#"routerLink="./contactanos-profesor">Contactanos</a>
                  </li>
                  <li class="breadcrumb-item active">
                      <a href="#"routerLink="./contactanos-profesor">English</a>
                  </li>
                  <li class="breadcrumb-item active">
                      <input type="search"
                             class="form-control rounded"
                             placeholder="Search"
                             aria-label="Search" />
                  </li>
                  <li>
                    <app-login-button *ngIf="(auth.isAuthenticated$ | async) === false"></app-login-button>
                  </li>
                  <li>
                    <app-logout-button *ngIf="auth.isAuthenticated$ | async"></app-logout-button>
                  </li>

              </ol>
          </nav>
      </div>
  </nav>
</header>
<br>
