.wrap{
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nino{
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px;
}

.nino:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,255,0.5);
  transition: all 0.3s;
}

.nino:hover:before{
  background: none;
}

figure {
  margin: 0;
}

img {
  display: block;
}
